- provide :title, 'About'

.page-header
  %h1= yield :title

%p
  Diffux is a tool that takes snapshots of web pages and creates a diff from a
  baseline snapshot.
%p
  Github:
  - link = 'https://github.com/trotzig/diffux'
  = link_to link, link
