- provide :title, t('.title')

= render 'shared/breadcrumbs',
  crumbs: [[@project.name, @project],
           [Sweep.model_name.human(count: 2), project_sweeps_path(@project)],
           ['New configuration']]

.page-header
  %h1= yield :title
  %p.help
    Creating a Sweep triggers new snapshots to be created for all Urls in the
    project.

= render 'sweeps/protip_curl'

= render 'sweeps/form'
