rvm:
  - 2.0
  - 2.1
  - 2.2
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'CREATE DATABASE diffux_test;' -U postgres
  - bundle exec rake db:create db:schema:load db:migrate
script: bundle exec rspec
