- provide :title, 'New URL'

%ul.breadcrumb
  %li
    = link_to 'URLs', root_path
    %span.divider /
  %li New configuration

%h3 New URL
%p.help
  Add a URL to a web page and specify the viewport width (screen width) to
  use when taking snapshots. Widths: 320 = mobile, 1024 = iPad (2).

= render 'form'
