- crumbs.unshift([Project.model_name.human(count: 2), projects_path])
- last_linkable_crumb = crumbs.reverse.find { |crumb| crumb[1] }
%ol.breadcrumb
  - crumbs.each do |crumb|
    - text      = crumb.first.to_s
    - truncated = truncate(text, length: 50)
    - link      = crumb[1]
    %li<
      - if link
        - data_hash = { keyboard_shortcut: 'u' } if last_linkable_crumb == crumb
        = link_to truncated, link, data: data_hash, title: text
      - else
        %span{ title: text }= truncated
