- crumbs.unshift(['Projects', projects_path])
- last_linkable_crumb = crumbs.reverse.find { |crumb| crumb[1] }
%ol.breadcrumb
  - crumbs.each do |crumb|
    - text = crumb.first
    - link = crumb[1]
    %li<
      - if link
        - data_hash = { keyboard_shortcut: 'u' } if last_linkable_crumb == crumb
        = link_to text, link, data: data_hash
      - else
        = text
