- if instance.errors.any?
  #error_explanation
    %h2
      = t('.explanation',
          error: t('.error', count: instance.errors.count),
          instance: instance.class.model_name.human)
    %ul
      - instance.errors.full_messages.each do |msg|
        %li= msg
