:ruby
  attributes = {
    tabindex: -1,
    role: 'dialog',
    'aria-labelledby' =>  'Keyoard shortcut help',
    'aria-hidden' => true
  }

  shortcuts = [
    ['?', 'Opens this help window'],
    ['k', 'Moves up to the next focusable item on the page'],
    ['j', 'Moves down to the next focusable item on the page'],
    ['gg', 'Jumps to the top of the page and selects the first focusable item'],
    ['G', 'Jumps to the bottom of the page and selects the last focusable item'],
    ['o', 'Opens the currently focused item. Also <kbd>&lt;Enter&gt;</kbd>.'],
    ['u', 'Takes you one step up in the page hierarchy'],
    ['a', 'Accepts a snapshot'],
    ['r', 'Rejects a snapshot'],
    ['J', 'Moves to the next snapshot in a sweep. Also <kbd>]</kbd>.'],
    ['K', 'Moves to the previous snapshot in a sweep. Also <kbd>[</kbd>.'],
    ['x', 'Flips between the diff, the before and the after image for a snapshot']
  ]
.modal.keyboard-shortcut-help{ attributes }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal', 'aria-hidden' => true } } ×
        %h1.modal-title Keyboard shortcuts
      .modal-body
        %table.table
          %thead
            %tr
              %th Key
              %th Action
          %tbody
            - shortcuts.each do |shortcut|
              %tr{ data: { keyboard_focusable: true } }
                %td
                  %kbd= shortcut.first
                %td= shortcut.last.html_safe
