- provide :title, 'New Project'

= render 'shared/breadcrumbs', crumbs: [['New configuration']]

%h1 New Project
%p.help
  Add a project and specify the URLs and viewport widths (screen widths) to use
  when taking snapshots. Widths: 320 = mobile, 1024 = iPad (2).

= render 'projects/form'
