- if @snapshot.log
  .alert.alert-info
    This is a log from when this snapshot image was created with PhantomJS.
  = simple_format @snapshot.log
- else
  .alert.alert-warning
    %strong Oops!
    Nothing has been logged for this snapshot.
