// from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//*, *:before, *:after {
//  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//}

body {
  padding-bottom: 50px;
}

body .table {
  width: auto;
}

figure {
  margin: 1em 0;
}

.navbar-brand {
  $navbar-height:      50px;
  $logo-height:        25px;
  $logo-width:         83px;
  $padding-top:        ($navbar-height - $logo-height) * .4;
  $padding-bottom:     $navbar-height - $logo-height - $padding-top;

  padding-bottom: $padding-bottom;
  padding-top: $padding-top;

  img {
    height: $logo-height;
    width: $logo-width;
  }
}

.table.table-vertical tr:first-child {
  th,
  td {
    border-top: none;
  }
}

.help {
  max-width: 640px;
}

.url-oneline {
  display: inline-block;
  max-width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.url-multiline {
  @include hyphenation;
}

form.button_to {
  display: inline-block; // Make `button_to` containers flow as buttons
}

.btn .glyphicon {
  vertical-align: -4%;
}

.project-viewports {
  margin-bottom: 0;
}

.button-group {
  margin-bottom: 20px;
}
