$link-color: #428bca;

[aria-selected] {
  color: #000;

  &.thumbnail {
    border-color: $link-color;
    box-shadow: 0 0 10px $link-color;
  }
}

tr[aria-selected] {
  > td:first-child,
  > th:first-child {
    box-shadow: 8px 0 0 -5px $link-color inset;
  }
}
