$link-color: #428bca;

.keyboard-focused {
  color: #000;

  &.thumbnail {
    @include box-shadow(0 0 10px $link-color);
    border-color: $link-color;
  }
}

tr.keyboard-focused {
  > td:first-child,
  > th:first-child {
    box-shadow: 8px 0 0 -5px $link-color inset;
  }
}
