/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body .table {
  width: auto;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  padding: 10px;
  max-width: 100%;
}

.snapshot-card {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 1em 1em .5em 0;
  font-size: 10px;
  line-height: 12px;
  min-height: 130px;
}

figure {
  margin: 1em 0;
}
