// from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//*, *:before, *:after {
//  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//}

body .table {
  width: auto;
}

.snapshot-card {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 1em 1em .5em 0;
  font-size: 10px;
  line-height: 12px;
  min-height: 130px;
}

figure {
  margin: 1em 0;
}

.help {
  max-width: 640px;
}

.table {
  .address {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
  }
}

form.button_to {
  display: inline-block; // Make `button_to` containers flow as buttons
}
