// from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//*, *:before, *:after {
//  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//}

body .table {
  width: auto;
}

figure {
  margin: 1em 0;
}

.help {
  max-width: 640px;
}

.table {
  .oneline-url {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  .multiline-url {
    word-break: break-all;
  }
}

form.button_to {
  display: inline-block; // Make `button_to` containers flow as buttons
}
