// from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//*, *:before, *:after {
//  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//}

body .table {
  width: auto;
}

.snapshot-card {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  margin: 1em 1em .5em 0;
  min-height: 130px;
  padding: 10px;
  position: relative;
  vertical-align: top;

  &.snapshot-baseline {
    border-color: #6c6;
  }

  .snapshot-indicator {
    $icon-size: 20px;
    background-color: #fff;
    color: #cc6;
    font-size: $icon-size;
    line-height: $icon-size;
    position: absolute;
    right: -$icon-size / 3;
    top: -$icon-size / 3;

    &.icon-ok-sign {
      color: #6c6;
    }

    &.icon-remove-sign {
      color: #c66;
    }
  }
}

figure {
  margin: 1em 0;
}

.help {
  max-width: 640px;
}

.table {
  .address {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

form.button_to {
  display: inline-block; // Make `button_to` containers flow as buttons
}
