#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding: 7px;
  width: 450px;

  h2 {
    background-color: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    margin: -7px;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
