.snapshots {
  display: flex;
  flex-wrap: wrap;
}

.snapshot-buttons {
  form {
    display: inline-block;
  }

  .btn {
    min-width: 150px;

    .snapshot-button-disabled {
      display: none;
    }

    &:disabled {
      .snapshot-button-enabled {
        display: none;
      }

      .snapshot-button-disabled {
        display: inline;
      }
    }
  }
}

.snapshot-image {
  max-width: percentage(1/2);

  // small gap between the before/after
  &:nth-child(1) {
    padding-right: 1px;
  }

  &:nth-child(2) {
    padding-left: 1px;
  }

  img {
    max-width: 100%;
  }
}

.snapshot-diff-image {
  max-width: 100%;
  padding: 0;
}

.snapshot-card {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  margin: 1em 1em .5em 0;
  min-height: 130px;
  position: relative;
  vertical-align: top;

  &.snapshot-card-active {
    $blue: #428bca;
    @include box-shadow(0 0 10px $blue);
    border-color: $blue;
  }

  &.snapshot-baseline {
    border-color: #6c6;
  }

  .snapshot-indicator {
    $icon-size: 20px;
    @include border-radius(50%);
    @include box-shadow(0 0 10px #fff);
    background-color: #fff;
    border: 1px solid #fff;
    color: #cc6;
    font-size: $icon-size;
    line-height: $icon-size;
    position: absolute;
    right: -$icon-size / 3;
    top: -$icon-size / 3;

    &.glyphicon-ok-sign {
      color: #6c6;
    }

    &.glyphicon-remove-sign {
      color: #c66;
    }
  }

  .snapshot-card-pending {
    $icon-size: 100px;
    color: #ccc;
    font-size: $icon-size;
    line-height: $icon-size;
    text-decoration: none;
  }
}
